  span {
    color: var(--gradient-color-code);
    font-size: 10vw;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: -3px;
    animation: weight 2s infinite;
    animation-delay: calc(var(--char-index) * 150ms);
  }